{{#each videos as |video|}} {{!-- 'block' helper! --}}
  {{!-- {{log book}} --}}
  <!-- <section data-id="{{book.id}}"> -->
    <h3>Episode Title: {{video.name}}</h3>
    <h4>Episode Number: {{video.episode_number}}</h4>
    <h4>Original Air Date: {{video.air_date}}</h4>
    <button class="add-vid btn btn-primary" data-video="{{video.id}}">Add to Playlist</button>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{video.youtube_id}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>{{video.description}} </p>

{{/each}}
